{{ $currentLang := .Site.Language.Lang }}
<header class="header">
  <nav class="navigation">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
    </div>
    <ul class="menu">
      {{- range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{- end }}
      <li>|</li>
      {{- range .Site.Languages }}
      {{- $lang := .Lang }}
      {{- $flag := "" }}
      {{- if eq $lang "en" }}{{- $flag = "🇬🇧" }}
      {{- else if eq $lang "de" }}{{- $flag = "🇩🇪" }}
      {{- else if eq $lang "pl" }}{{- $flag = "🇵🇱" }}
      {{- else if eq $lang "pt" }}{{- $flag = "🇧🇷" }}
      {{- else if eq $lang "ru" }}{{- $flag = "🇷🇺" }}
      {{- end }}
      <li>
        {{- if eq $lang $currentLang }}
        <strong>{{ $flag }}</strong>
        {{- else }}
        <a href="/{{ if ne $lang $.Site.DefaultContentLanguage }}{{ $lang }}/{{ end }}">{{ $flag }}</a>
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </nav>
</header>
